#container {
	width: 960px;
	margin:20px auto;	
}
body {
	font:11px/1.7 Arial, Helvetica, sans-serif;	
}
h1 {
	font-size:24px;	
	margin-bottom:20px;
}
h2 {
	font-size:16px;
	border-bottom:1px solid gray;
	margin-bottom:5px;
	padding-bottom:5px;
}
ul {
	margin-bottom:10px;
	padding-bottom:10px;
}
.message {
	border:1px solid #000;
	padding:10px;
	margin-bottom:20px;
}
	.message.error {
		border:1px solid #900;
	}
		.message.error strong {
			color:#900;
		}
	.message.success {
		border:1px solid #390;
	}
		.message.success strong {
			color:#390;
		}
	.message.warning {
		border:1px solid #F60;
	}
		.message.warning strong {
			color:#F60;
		}
	.message.info {
		border:1px solid #069;
	}
		.message.info strong {
			color:#069;
		}
	.message.neutral {
		border:1px solid #888;
	}
		.message.neutral strong {
			color:#888;
		}