/* ------- INFO ----------------
	Main color 1 :#CC9900
	Main color 2 :#CC9900
	Main color 3 :#CC9900
	
	- CONTAINER
	- HEADER
	- CONTENT
		- MAIN
		- SIDEBAR
	- FOOTER
*/
 
/* ------- CONTAINER ---------------- */
#container {
	width:1024px;
	margin:20px auto;
}
#header, 
#main,
#sidebar,
#footer {
	padding-top:10px;
}

/* ------- HEADER ---------------- */
	#header {
		position: relative;	
	}
		#header small {
			display:none;
		}
	#logo {
		margin:0; padding:0;	
	}
	#logo a {
		background:transparent url(../../../img/logo.png) no-repeat;
		display:block;
		height:128px;
		overflow:hidden;
		text-indent:-9999px;
		width:128px; 
	}
	#logged {
		position:absolute;
		top: 0px;
		right: 10px;
	}
		#logged .user {
			font-weight: bold;
		}

/* ------- CONTENT ---------------- */
#content {
	
}

/* ------- MAIN ---------------- */
#main {

}
	#main p {
			text-align: justify;	
	}

/* ------- SIDEBAR ---------------- */
#sidebar {

}

/* ------- FOOTER ---------------- */
#footer {

}