/* ------- GRID ------------------- */
.col1-1  { width:100%; 		}
/* half */
.col1-2  { width:48%; 		}
/* 3rd */
.col1-3  { width:30.66%;	}
.col2-3  { width:65.33%;	}
/* 4th */
.col1-4  { width:22%; 		}
.col2-4  { width:48%; 		}
.col3-4  { width:74%;		}
/* 5th */
.col1-5  { width:16.8%; 	}
.col2-5  { width:37.6%; 	}
.col3-5  { width:58.4%; 	}
.col4-5  { width:67.2%; 	}
/* 6th */
.col1-6  { width:13.33%; 	}
.col2-6  { width:30.66%; 	}
.col3-6  { width:48%; 		}
.col4-6  { width:65.33%; 	}
.col5-6  { width:82.67%; 	}
/* percents */
.col25  { width:22%; 		}
.col33  { width:30.66%;		}
.col50  { width:48%; 		}
.col66  { width:65.33%; 	}
.col75  { width:74%; 		}
.col100 { width:100%; 		}
.col1-1, .col1-2, 
.col1-3, .col2-3,
.col1-4, .col2-4, .col3-4, 
.col1-5, .col2-5, .col3-5, .col4-5,
.col1-6, .col2-6, .col3-6, .col4-6, col5-6,
.col25, .col33, .col50, .col66, .col75, .col100 {
	position:relative;
	display:inline;
	float:left;
	padding:0 		!important;
	margin-left:4%	!important;
}
.col1-1, .col100, .first { 
	margin-left:0 !important; 
	clear:left;
}
/* push */
.push1-2  { left:52%; 		}
.push1-3  { left:34.66%;	}
.push2-3  { left:69.33%;	}
.push1-4  { left:26%; 		}
.push2-4  { left:52%; 		}
.push3-4  { left:78%;		}
.push1-5  { left:20.8%; 	}
.push2-5  { left:41.6%; 	}
.push3-5  { left:62.4%; 	}
.push4-5  { left:71.2%; 	}
.push1-6  { left:17.33%; 	}
.push2-6  { left:34.66%; 	}
.push3-6  { left:52%; 		}
.push4-6  { left:69.33%; 	}
.push5-6  { left:86.67%; 	}
.push25   { left:26%; 		}
.push33   { left:34.66%;	}
.push50   { left:52%; 		}
.push66   { left:69.33%; 	}
.push75   { left:78%; 		}
/* pull */
.pull1-2  { right:52%; 		}
.pull1-3  { right:34.66%;	}
.pull2-3  { right:69.33%;	}
.pull1-4  { right:26%; 		}
.pull2-4  { right:52%; 		}
.pull3-4  { right:78%;		}
.pull1-5  { right:20.8%; 	}
.pull2-5  { right:41.6%; 	}
.pull3-5  { right:62.4%; 	}
.pull4-5  { right:71.2%; 	}
.pull1-6  { right:17.33%; 	}
.pull2-6  { right:34.66%; 	}
.pull3-6  { right:52%; 		}
.pull4-6  { right:69.33%; 	}
.pull5-6  { right:86.67%; 	}
.pull25   { right:26%; 		}
.pull33   { right:34.66%;	}
.pull50   { right:52%; 		}
.pull66   { right:69.33%; 	}
.pull75   { right:78%; 		}
/* row  */
.row:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
	html[xmlns] .row {
		display: block;
	}
	* html .row {
		height: 1%;
	}
/* clear  */
.clear {
	display: block;
	clear: both;
}
	hr.clear {
		border:none;
		height:0;
}