/* ------- INFO ----------------
	Color :Black 
	Color :Gray
	Color :WhiteSmoke 
	Color :Ivory
	Color :White
 ------------------------------ */
body {
	background:White;	
	color:#111;
	font:12px/1.6 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
/* ------- HEADERS ---------------- */
h1 {
	font-size:36px;
	letter-spacing:-2px;
	line-height:1.2;
}
h2 {
	font-size:24px;
	font-weight:normal; 
}
h3 {
	font-size:20px;
	font-weight:normal; 
}
h4 {
	font-size:16px;
	font-weight:normal; 
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}
/* ------- ELEMENTS ---------------- */
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
p {
	margin-bottom:10px;
}
dl {
}
	dl dt {
		font-weight:bold;
		margin-bottom:2px;
		padding-bottom:2px;
	}
	dl dd {
		margin-bottom:10px;
	}
ol {
	list-style:decimal;
}
ul {
	list-style:square;
	padding-left:20px;
}
blockquote {
	color:Black;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-left:30px;
	background:transparent url(../img/elements/quotes.png) no-repeat top left;
}
dl,
hr,
ol,
ul,
pre,
table,
address,
fieldset,
blockquote {
	margin-bottom:20px;
}
/* ------- CLASSES ---------------- */
.odd {
	background:White;
}
.even {
	background:WhiteSmoke;
}
.small {
	width:30% !important;
}
.medium {
	width:50% !important;
}
.large {
	width:80% !important;
}
.ir {
	 background-repeat:no-repeat;
	 display:block;
	 text-indent:-9999px; 
	 overflow:hidden;
}
.left {
	float:left;
	margin-right:10px;
}
.right {
	float:right;
	margin-left:10px;
}
.picture {
	border:1px solid Gray;	
}
.menu {
	list-style:none;
	margin:0;
	padding:0;
}
	.menu a {
		display:block;
		padding:5px 10px;
	}
	.menu a:hover {
		text-decoration:none;	
	}
	.menu ul {
		border:1px solid Gray;
		background:White;
		margin:0;
	}
	.menu ul li {
		background:White;
		border-bottom:1px solid Gray;
	}
	.menu ul li:hover {
		background:Ivory;
	}
	.menu.horizontal {
		margin:20px 0;
	}
		.menu.horizontal li {
			float:left;
			display:inline-block;	
		}
		.menu.horizontal > li {
			margin-right:5px;	
		}
		.menu.horizontal li:hover {
			background:Ivory;
			cursor:pointer;
		}
		.menu.horizontal .current {
			background:WhiteSmoke;
			font-weight:bold;
			padding:auto 30px;
		}	
	.menu.vertical {
	}
		.menu.vertical li {
			margin:0;
			padding:10px;
		}
		.menu.vertical li:hover {
			background:Ivory ;
			cursor:pointer;
		}
		.menu.vertical .current {
			background:WhiteSmoke;
			font-weight:bold;
		}
.batch {
	background:transparent url(../img/elements/batch.png) no-repeat 10px 15px;
	padding-left:50px;
}
	.batch select, 
	.batch input {
		padding:5px;
		border:1px solid Gray;
		font-size:12px;
	}
.toolbar {
	height:30px;
	position:absolute;
	right:0;
	margin-top:-30px;
}
	.toolbar li {
		float:left;
		display:inline-block;
	}
.actions {
	overflow:hidden;
	margin:0; padding:0;
	height:20px;
}
	.actions li {
		float:left;
		display:inline-block;
		margin:0 3px;
	}
.pagination {
	border:0; 
	margin:0; 
	overflow:hidden;
	padding:0;
}
	.pagination li{
		border:0; 
		margin:0; 
		padding:0;
		font-size:11px;
		list-style:none;
	}
	.pagination a {
		border:solid 1px #CCC;
		margin-right:2px;
	}
	.pagination .previous-off,
	.pagination .next-off {
		color:#CCC;
		display:block;
		float:left;
		padding:2px;
		border-color:transparent;
	}
	.pagination .next a,
	.pagination .previous a {
		border-color:transparent;
	}
	.pagination .active{
		font-weight:bold;
		display:block;
		float:left;
		padding:2px 6px;
	}
	.pagination .more {
		display:block;
		float:left;
		padding:2px;
	}
	.pagination a:link,
	.pagination a:visited {
		display:block;
		float:left;
		padding:2px 6px;
		text-decoration:none;
		color:#666;
	}
	.pagination a:hover{
		border:solid 1px #BBB;
		background:Ivory;
		color:#000;
	}
.tabs {
}
	.tabs ul {
		border-bottom:1px solid Gray;
		height:25px;
		margin:0;
		padding:0;
	}
		.tabs ul li {
			background:WhiteSmoke;
			border:1px solid #CCC;
			border-bottom:1px solid Gray;
			display:inline-block;
			float:left; 
			height:24px;
			list-style:none;
			padding:0;
			margin:0 2px -1px 0;
		}
		.tabs ul li.current {
			background:White;
			border:1px solid Gray;
			border-bottom:1px solid White;
			color:Black;
			font-weight:bold;
		}
			.tabs ul li.current a {
				color:Black;	
			}
		.tabs ul li a {
			color:Gray;
			display:block;	
			padding:2px 15px;
			text-decoration:none;
		}
	.tabs > div {
		border:1px solid Gray;
		border-top:none;
		padding:10px;
		margin-bottom:20px;	
	}
.message {
	border:2px solid #000;
	margin:10px 0;
	padding:15px;
}
	.message.tip {
		background:transparent url(../img/messages.png) no-repeat -200px 0px;
		padding-left:50px;
		border-color:#728193;
	}
		.message.tip strong {
			color:#728193;
		}
	.message.error {
		background:transparent url(../img/messages.png) no-repeat -150px -50px;
		padding-left:50px;
		border-color:#E34529;
	}
		.message.error strong {
			color:#E34529;
		}
	.message.warning {
		background:transparent url(../img/messages.png) no-repeat -100px -100px;
		padding-left:50px;
		border-color:#FFAD1B;
	}
		.message.warning strong {
			color:#FFAD1B;
		}
	.message.info {
		background:transparent url(../img/messages.png) no-repeat -50px -150px;
		padding-left:50px;
		border-color:#3A83C9;
	}
		.message.info strong {
			color:#3A83C9;
		}
	.message.success {
		background:transparent url(../img/messages.png) no-repeat 0px -200px;
		padding-left:50px;
		border-color:#94C500;
	}
		.message.success strong {
			color:#94C500;
		}

.breadcrumbs {
	list-style:none; 
	overflow:hidden; 
	padding:0;
} 
	.breadcrumbs li { 
		float:left; 
		height:26px;
		line-height:26px; 
		margin:0 10px 0 0px;
		font-weight:bold;
	}
		.breadcrumbs a { 
			font-weight:normal;
			margin-right:5px;
		} 
		.breadcrumbs a:hover {
			color:Gray; 
		}

.button {
	background-color:#F0F0F0;
	background-image:-moz-linear-gradient(#FFF, #EEE 35%, #EEE, #FFF);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(.35, #EEE), color-stop(1, #EEE));
	border:1px solid #AAA;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #FFF;;
}
	.button:hover {
		border:1px solid Black ;
		color:Black ;
		cursor:pointer;
	}
		
/* ------- LINKS ---------------- */	
a:focus {
	outline:1px dotted;
}
a:link, a:visited, a:active {
	color:Black ;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.cancel {
	color:#900;
	text-decoration:underline;	
}
.sprite { 
	background:url(../img/icons.png) no-repeat top left;
	vertical-align:middle;
}
.sprite.icon { 
	cursor:pointer;
	display:inline-block;
	height:20px;
	overflow:hidden;
	text-indent:100em;
	width:20px;
}
*+html .sprite.icon { 
	text-indent:0; 
	width:0; 
	padding-left:16px;
}
.sprite.prefix { 
	color:#000;
	display:inline-block;
	height:20px;
	padding-left:20px; 
	margin-right:15px;
}
.sprite.right {
	float:right; 
	margin-left:15px;
}
.sprite.left {
	float:left;
	margin-right:15px;
}
.lock { 
	background-position:-336px -0px;
}
.download { 
	background-position:-312px -26px;
}
.home { 
	background-position:-286px -52px;
}
.user { 
	background-position:-260px -78px;
}
.email { 
	background-position:-234px -104px;
}
.success { 
	background-position:-208px -130px; 
}
.help { 
	background-position:-182px -156px;
}
.info { 
	background-position:-156px -182px;
}
.warning { 
	background-position:-130px -208px;
}
.error {
	background-position:-104px -234px;
}
.remove { 
	background-position:-78px -260px;
}
.add { 
	background-position:-52px -286px;
}
.delete { 
	background-position:-26px -312px;
}
.edit { 
	background-position:-0px -336px;
}
/* ------- FORMS ---------------- */	
form {		
}
	form .odd,
	form .even {
		padding:10px;
	}
	form fieldset {
		border:1px solid #000;
		padding:0 20px 20px 20px;
	}
	form legend {
		font-weight:bold;
		margin:5px;
		padding:5px;
	}
	form label {
		color:#000;
		display:block;
		font-weight:bold;
		padding:0 0 4px 0;
	}
	form input[type=password],
	form input[type=text],
	form textarea,
	form select {
		border:1px solid #888;
		font:12px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
		padding:10px;
	}
	form input[type=password]:focus,
	form input[type=text]:focus,
	form textarea:focus,
	form select:focus {
		border:1px solid Black ;
	}
	form .hint {
		color:#666;
		display:block;
		font-size:11px;
		padding:4px 0;
	}
	form .radios label,
	form .checkboxes label {
		font-weight:normal;
		display:inline;	
	}
	form .buttons {
		text-align:right;	
	}
	form .error {
		background:Ivory;
	}
	form .error input[type=password],
	form .error input[type=text],
	form .error input[type=radio],
	form .error input[type=checkbox],
	form .error textarea,
	form .error select {
		border:1px solid #C30;
	}
	form .errors {
		background:transparent url(../img/icons.png) no-repeat -100px -234px;
		color:#C30;
		list-style:none;
		margin:0;
	}
		form .errors li {
			margin:0;
			padding:0 0 0 25px;
		}
		
/* ------- TABLES et LISTE ------------- */
table {
	width:100%;
	border:1px solid #CCC;
}
	table th {
		font-weight:bold;
		text-align:left;
	}
	table thead a:link,
	table thead a:visited {
		color:#000;
	}
	table .order-asc {
		padding-right:20px;
		background:transparent url(../img/elements/asc.png) no-repeat center right;
	}
	table .order-desc {
		padding-right:20px;
		background:transparent url(../img/elements/desc.png) no-repeat center right;
	}
	table thead a:hover {
		text-decoration:none;
	}
	table thead th,
	table thead td {
		border-bottom:1px solid #888;
	}
	table tfoot th,
	table tfoot td {
		border-top:1px solid #555;
	}
	table tbody th,
	table tbody td {
		border-bottom:1px solid #CCC;
		font-size:11px;
	}
	table tbody th {
		font-size:12px;	
	}
	table tbody th{
		border-right:1px solid #DDD;
	}
	table th,
	table td {
		padding:15px;
	}
	table tbody tr.odd .checkboxes, 
	table tbody tr.odd th {
		background:#FAFAFA;
	}
	table tbody tr.even .checkboxes, 
	table tbody tr.even th {
		background:#F6F6F6;
	}
	table tr:hover.odd th,
	table tr:hover.even th,
	table tr:hover.odd td,
	table tr:hover.even td {
		background:Ivory;
	}
	table tr.selected th,
	table tr.selected td {
		background:Ivory !important;
	}
/* hacks */
.menu:after,
.toolbar:after,
.actions:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
	* html .row,
	* html .toolbar,
	* html .actions {
		height:1%;
	}