SetEnv PHP_VER 5
SetEnv REGISTER_GLOBALS 0

# Redirige les URL
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ default/index.php?URL=$1 [QSA,L]

ErrorDocument 500 'Under Construction'

# Charset
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss

# Interpréter certains fichier en tant que PHP
AddType application/x-httpd-php .xml

# Includes
<FilesMatch "\.(js|css)$">
 	Options +Includes
  	SetOutputFilter INCLUDES
</FilesMatch>