/* ------- INFO ----------------
	Color :Black 
	Color :Gray
	Color :WhiteSmoke 
	Color :Ivory
	Color :White
 ------------------------------ */
body {
	color:#333;
	font:12px/1.6 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* ------- HEADERS ---------------- */
h1 {
	font-size:36px;
	letter-spacing:-2px;
}
h2 {
	font-size:24px;
	font-weight:normal; 
}
h3 {
	font-size:20px;
	font-weight:normal; 
}
h4 {
	font-size:16px;
	font-weight:normal; 
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}

/* ------- ELEMENTS ---------------- */
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
p {
	margin-bottom:10px;
}
dl,
hr,
ol,
ul,
pre,
table,
address,
fieldset,
blockquote {
	margin-bottom:20px;
}

/* ------- CLASSES ---------------- */
.odd {
	background:White;
}
.even {
	background:WhiteSmoke;
}
.small {
	width:30% !important;
}
.medium {
	width:50% !important;
}
.large {
	width:80% !important;
}
.ir {
	 background-repeat:no-repeat;
	 display:block;
	 text-indent:-9999px; 
	 overflow:hidden;
}
.left {
	float:left;
	margin-right:10px;
}
.right {
	float:right;
	margin-left:10px;
}

/* menus */
.menu {
	list-style:none;
	padding:0;
}
	.menu a {
		display:block;
		padding:5px 10px;
	}
	.menu a:hover {
		text-decoration:none;	
	}
	.menu ul {
		border:1px solid Gray;
		background:White;
		box-shadow:2px 2px 2px Gray; -moz-box-shadow:2px 2px 2px Gray; -webkit-box-shadow:2px 2px 2px Gray;
	}
	.menu ul li {
		background:White;
		border-bottom:1px solid Gray;
	}
	.menu ul li:hover {
		background:Ivory;
	}
	.menu.horizontal {
		/*overflow:hidden;*/
		margin:20px 0;
	}
		.menu.horizontal li {
			float:left;
			display:inline-block;	
		}
		
		.menu.horizontal > li {
			margin-right:5px;	
		}
		.menu.horizontal li:hover {
			background:Ivory;
			cursor:pointer;
		}
		.menu.horizontal .current {
			background:WhiteSmoke;
			font-weight:bold;
			border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;
			padding:auto 30px;
		}	
	.menu.vertical {
	}
		.menu.vertical li {
			border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;
			margin:0;
			padding:10px;
		}
		.menu.vertical li:hover {
			background:Ivory ;
			cursor:pointer;
		}
		.menu.vertical .current {
			background:WhiteSmoke;
			font-weight:bold;
		}

.batch-actions {
	background:transparent url(../img/batch-actions.png) no-repeat 10px 15px;
	padding-left:50px;
}
	.batch-actions select, 
	.batch-actions input {
		padding:5px;
		border:1px solid Gray;
		font-size:12px;
	}
		
.toolbar {
	overflow:hidden;
	height:30px;
}
	.toolbar ul {
		float:right;
	}
		.toolbar li {
			float:left;
			display:inline-block;
		}
		
.actions {
	overflow:hidden;
	margin:0; padding:0;
	height:20px;
}
	.actions li {
		float:left;
		display:inline-block;
		margin:0 3px;
	}
	
.pagination {
	border:0; 
	margin:0; 
	padding:0;
}
	.pagination li{
		border:0; 
		margin:0; 
		padding:0;
		font-size:11px;
		list-style:none;
	}
	.pagination a {
		border:solid 1px #CCC;
		margin-right:2px;
	}
	.pagination .previous-off,
	.pagination .next-off {
		color:#CCC;
		display:block;
		float:left;
		padding:2px;
		border-color:transparent;
	}
	.pagination .next a,
	.pagination .previous a {
		border-color:transparent;
	}
	.pagination .active{
		font-weight:bold;
		display:block;
		float:left;
		padding:2px 6px;
	}
	.pagination .more {
		display:block;
		float:left;
		padding:2px;
	}
	.pagination a:link,
	.pagination a:visited {
		display:block;
		float:left;
		padding:2px 6px;
		text-decoration:none;
		color:#666;
	}
	.pagination a:hover{
		border:solid 1px #BBB;
		background:Ivory;
		color:#000;
	}
	
/* Messages */
.message {
	border:2px solid #000;
	border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;
	font-weight:bold;
	margin-bottom:20px;
	padding:9px;
}
	.message.error {
		background:transparent url(../img/icons.png) no-repeat -94px -226px;
		border-color:#C00;
		color:#C00;
		padding-left:50px;
	}
	.message.success {
		background:transparent url(../img/icons.png) no-repeat -198px -122px; 
		border-color:#390;
		color:#390;
		padding-left:50px;
	}
	.message.info {
		background:transparent url(../img/icons.png) no-repeat -146px -173px;
		border-color:#369;
		color:#369;
		padding-left:50px;
	}
	
.breadcrumbs {
	list-style:none; 
	overflow:hidden; 
	margin:0;
} 
	.breadcrumbs li { 
		float:left; 
		height:26px;
		line-height:26px; 
		margin:0 10px 0 0px;
		font-weight:bold;
	}
		.breadcrumbs a { 
			font-weight:normal;
			margin-right:5px;
		} 
		.breadcrumbs a:hover {
			color:Gray; 
		}

.button {
	background-color:#F0F0F0;
	background-image:-moz-linear-gradient(#FFF, #EEE 35%, #EEE, #FFF);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(.35, #EEE), color-stop(1, #EEE));
	border:1px solid #AAA;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #FFF;;
}
	.button:hover {
		border:1px solid Black ;
		color:Black ;
		cursor:pointer;
	}
		
/* ------- LINKS ---------------- */	
a:focus {
	outline:1px dotted;
}
a:link, a:visited, a:active {
	color:Black ;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.cancel {
	color:#900;
	text-decoration:underline;	
}
.sprite { 
	background:url(../img/icons.png) no-repeat top left;
	
}
.sprite.icon { 
	cursor:pointer;
	display:inline-block;
	height:20px;
	overflow:hidden;
	text-indent:100em;
	width:20px;
}
*+html .sprite.icon { 
	text-indent:0; 
	width:0; 
	padding-left:16px;
}
.sprite.prefix { 
	color:#000;
	display:inline-block;
	height:20px;
	padding-left:20px; 
}
.sprite.right {
	float:right; 
	margin-left:15px;
}
.sprite.left {
	float:left;
	margin-right:15px;
}
.lock { 
	background-position:-336px -0px;
}
.download { 
	background-position:-312px -26px;
}
.home { 
	background-position:-286px -52px;
}
.user { 
	background-position:-260px -78px;
}
.email { 
	background-position:-234px -104px;
}
.success { 
	background-position:-208px -130px; 
}
.help { 
	background-position:-182px -156px;
}
.info { 
	background-position:-156px -182px;
}
.warning { 
	background-position:-130px -208px;
}
.error {
	background-position:-104px -234px;
}
.remove { 
	background-position:-78px -260px;
}
.add { 
	background-position:-52px -286px;
}
.delete { 
	background-position:-26px -312px;
}
.edit { 
	background-position:-0px -336px;
}

/* ------- FORMS ---------------- */	
form {		
}
	form .odd,
	form .even {
		padding:5px;
	}
	form fieldset {
		border:1px solid #000;
		border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;
		padding:0 20px 20px 20px;
	}
	form legend {
		font-weight:bold;
		margin:5px;
		padding:5px;
	}
	form label {
		color:#000;
		display:block;
		font-weight:bold;
		padding:0 0 4px 0;
	}
	form input[type=password],
	form input[type=text],
	form textarea,
	form select {
		background:#FEFEFE;
		border:1px solid #888;
		border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
		color:#000;
		font:12px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
		padding:10px;
	}
	form input[type=password]:focus,
	form input[type=text]:focus,
	form textarea:focus,
	form select:focus {
		border:1px solid Black ;
	}
	form .hint {
		color:#666;
		display:block;
		font-size:11px;
		padding:4px 0;
	}
	form .error {
		border:1px solid #C30;
	}
	form .has-error {
		background:Ivory;
	}
	form .errors {
		background:transparent url(../img/icons.png) no-repeat -104px -234px;
		color:#C30;
		list-style:none;
		margin:0;
	}
		form .errors li {
			margin:0;
			padding:0 0 0 25px;
		}
		
/* ------- TABLES et LISTE ------------- */
table {
	width:100%;
	border:1px solid #CCC;
}
	table th {
		font-weight:bold;
		text-align:left;
	}
	table thead a:link,
	table thead a:visited {
		color:#000;
	}
	table .order-asc {
		padding-right:20px;
		background:transparent url(../img/asc.png) no-repeat center right;
	}
	table .order-desc {
		padding-right:20px;
		background:transparent url(../img/desc.png) no-repeat center right;
	}
	table thead a:hover {
		text-decoration:none;
	}
	table thead th,
	table thead td {
		border-bottom:1px solid #888;
	}
	table tfoot th,
	table tfoot td {
		border-top:1px solid #555;
	}
	table tbody th,
	table tbody td {
		border-bottom:1px solid #CCC;
		font-size:11px;
	}
	table tbody th {
		font-size:12px;	
	}
	table tbody th{
		border-right:1px solid #DDD;
	}
	table th,
	table td {
		padding:15px;
	}
	table tbody tr.odd .checkboxes, 
	table tbody tr.odd th {
		background:#FAFAFA;
	}
	table tbody tr.even .checkboxes, 
	table tbody tr.even th {
		background:#F6F6F6;
	}
	table tr:hover.odd th,
	table tr:hover.even th,
	table tr:hover.odd td,
	table tr:hover.even td {
		background:Ivory ;
	}

/* définitions */
dl {
}
	dl dt {
		font-weight:bold;
		margin-bottom:2px;
		padding-bottom:2px;
	}
	dl dd {
		margin-bottom:10px;
	}
	
/* liste
ol {
	list-style:decimal;
}
ul {
	list-style:square;
}
	li {
		margin-left:20px;
	}
 */
